<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Georgia Zhuang</h2>
                <br>
                     <div class="image-container">
                        <img src="img/Profile.png" class="center">
                    </div>
                <hr class="light">
                <p class="text-faded" align=justify>
                    <ul style="list-style-type:none;">
                        <li>曾分别任职全球领先的尼尔森中国和尼尔森加拿大消费者洞察副总裁，是业内知名的市场研究咨询专家和人才导师</li>
                        <li>超过<b>15</b>年跨国企业高级管理经验，领导业务发展战略规划，团队建设和企业文化建设，为企业招募培养了无数专业和领导人才</li>
                        <li>加拿大约克大学舒立克商学院<b>MBA</b>, 现任在加拿大注册的非盈利组织加华市场研究会会长</li>
                        <li>拥有丰富的行业招募和人才发展培训管理经验，平易近人，乐于分享，善于发掘职场新人的潜力，以引领新人踏入职业发展快速通道为个人最大成就</li>

                    </ul>
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
