<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">联系我们</h2>
                <hr class="primary">
                <p>首次咨询 <b>30</b> 分钟全免费<br></p>
            </div>
        <div class="col-lg-3 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fab fa-linkedin fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="far fa-envelope fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a href="/#contact">
            <i class="fab fa-weixin fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <p>{{ site.weixin_username }}</p>
            </a>
        </div>
                <div class="col-lg-3 text-center">
            <a href="/#contact">
            <i class="fas fa-phone fa-4x wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <p>{{ site.phone }}</p>
            </a>
        </div>
    </div>
</section>
