<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>青鸟咨询</h1>
            <br>
                <div class="image-container">
                    <img src="img/Logo.png" class="responsive">
                </div>
            <hr>
            <p align=justify>青鸟，这一小小形象，在古今中外的神话传说中都颇受青睐。《山海经》之中它是西山王母的信使，它的使命是将吉祥、幸福、快乐的佳音传递给人间。在西方则是幸福的象征。比利时作家莫里斯·梅特林克的童话《青鸟》 通过描述两个小孩寻找青鸟的奇幻之旅来揭示幸福的真正含义是用一顆无私的心所帶給人的精神享受,助人为快乐之本。<br><br>
			青鸟，就是—施予，将一切美好的事务施予他人, 传播希望和幸福。<br><br>
			在海内外咨询行业沉浮几十年的我非常感恩自己能够从事喜欢的职业, 更加感到幸福的是能够亲自发掘培养一批职场新人, 引导他们走上充满希望的人生道路。<br><br>
			青鸟咨询的目标是传递积极向上的正能量, 帮助职场人找到自己的希望和幸福, 并成为青鸟一样的传播使者。无论你是求职菜鸟处于职业发展迷茫期，职场小白正在职场进阶冲刺期，或许是职场中坚职业发展瓶颈期，更或许你是职场老人职业转型思考期, 青鸟咨询为你提供个性化求职辅导， 职业规划，领导力提升辅导，职业转型辅导。<br><br>
			咨询辅导服务内容包括目标行业,公司,职位的研究,个人职业发展方向规划，突破瓶颈，转型可行性。一对一完全个性化的跟踪辅导, 为你踏上职业发展的幸福道路助力。<br>
			</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">关于我们</a>
        </div>
    </div>
</header>
