<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">服务及定价</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-hand-holding-heart wow bounceIn text-primary"></i>
                    <h3>公益讲座</h3>
                    <p class="text-muted">
                        <ul style="list-style-type:none;">
                        <li>市场研究与分析行业科普讲座 60 分钟</li>
                        <li>简历制作基本功 30 分钟</li>
                        <li>Networking 技巧 30 分钟</li>
                        <li>面试准备要点 30 分钟</li>
                        <li>建立个人品牌 30 分种</li>
                        <li>领导力与求职 60 分钟</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-friends wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>一对一个性化定制服务</h3>
                    <p class="text-muted">
                        <ul style="list-style-type:none;">
                        <li>职业规划/职场进阶辅导 60 – 90 分钟</li>
                        <li>简历/文书精修 60 分钟 </li>
                        <li>一对一深入挖掘, 60分钟</li>
                        <li>线下简历文书精修</li>
                        <li>面试岗位分析和模拟问题预测, 模拟面试 120分钟</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-handshake wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>保 Offer 无限次辅导</h3>
                    <p class="text-muted">
                        <ul style="list-style-type:none;">
                        <li>所有课程根据需要无限次提供辅导</li>
                        <li>推送适合的招聘信息,协助申请</li>
                        </ul>
                    </p>
                </div>
            </div>
            <!--
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> 
            -->
        </div>
    </div>
</section>
